<launch>
	<arg name="runner" default="$(env TURTLEBOT3_RUNNER)" doc="runner type [simulation, physical]"/>

	<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch"
	if="$(eval runner == 'simulation')"/>
	<include file="$(find turtlebot3_navigation)/launch/move_base.launch"/>
	<include file="$(find cim_turtlebot3_directioning)/launch/cim_turtlebot3_directioning.launch"/>
</launch>
